

.contenedor{
    height: 500px;
    width: 233;
    background-color: aqua;
    margin: 30px;
    padding: 30px;
    border: 2px black solid;
    background-image:url(image/descarga.jpeg);
}

.footer{
text-align: center;
background-color: rgb(19, 18, 18);
color: aliceblue;



}