
{{> head }}
{{> navbar }}


<div class="row">

<div class="col-8">
  <h1>El destino</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Laudantium odio culpa at dignissimos, vero aut, eligendi 
    ut laborum necessitatibus adipisci dolores saepe? Commodi
     sequi blanditiis tempore nemo ab delectus velit?</p>

</div>

<div class="col-4">
  <img src="assects/image/images.jpeg"  class="img-thumbnail">
</div>

</div>


{{> footer }}
